<% let date = new Date().getFullYear() %>

<footer class=" d-flex flex-column ">
    <div class="align-items-center d-flex justify-content-center">
    <h5 class=" card-title font-bold">&copy; <%= name %> <%=date%></h5>
    </div>
</footer>