y<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs')%>
<body>
    <!-- nav -->
    <%-include('./partials/Nav.ejs')%>
    <div class="flex justify-center items-center">
        <div class="w-fit gap-2 items-center flex flex-col m-3 p-4  rounded shadow border" >
            <a href="/" class="flex items-center gap-1">
              <img src='495670-removebg-preview.png' alt="" width="50px">
              <h1 class="company-name font-bold font-bold text-4xl"><%= name %></h1>
              </a>
                <h1 class="font-bold text-white text-xl">Millions of Amazing <br> Products in one place.</h1>
                <form action="/register" class="flex flex-col gap-3 p-4 rounded">
                <label class="flex flex-col  gap-2">
                        Name (s)<input type="text" placeholder="First and last Name" name="Username" required/>
                        </label>
                    <label class="flex flex-col  gap-2">
                    Email:<input type="text" placeholder="Example@xyz.com" id="Email" name="Email" required>
                    <div class="email error"></div>
                </label>
                <label class="flex flex-col  gap-2">
                    Telphone:<input type="tel" placeholder="+234..." name="phone">
                </label>
                <label class="flex flex-col gap-2">
                    Password:<input type="password" id="Password" name="Password" required placeholder="Enter a pasword">
                    <div class="password error"></div>
                    <p id="passwordCHKlen"class="hidden pass">Password Length longer than 6</p><span></span>
                    <p id="passwordCHKch" class="hidden pass">Contain special Character</p><span></span>
                </label>
                <label class="flex-col flex">
                    Confirm Password:<input type="password" id="Password2" required placeholder="Re-type pasword">
                    <p id="error" ></p>
                </label>
              <button class="w-full">Create Account</button>
            </form>
            <h1>Already have an Account? <a href="/SignIn" style="color:rgb(133, 151, 213)">Login</a></h1>
          </div>
           <!-- The Modal -->
                    <div id="myModal" class="modal flex items-center flex-col justify-center gap-3">
                        
                        <!-- Modal content -->
                        <div class="modal-content ">
                            <div class="loader"></div>
                            <p id="check">please Wait..</p>
                            <div id="status"></div>
                            <input type="text" placeholder="Please provide OTP" id="Otp" class="hidden" 
                            style="padding:10px;background:#eee;color:black" autocomplete="off"/>
                        </div>
                    </div>
                    
    </div>
     <!-- footer -->
     <%- include('./partials/footer.ejs') %>
</body>
<script type="module">
    import {sendEmail}  from'../public/Functions/mail'
sendEmail()
     // Get the modal
    var modal = document.getElementById("myModal");
    //get otp inpur feild
    let OtpField = document.getElementById('Otp');

    //form submtion
  const form = document.querySelector('form');
  form.addEventListener('submit',async (e)=>{
    e.preventDefault()
    //disable for accecsibility
    modal.style.display = "block"
    //form element value
        const Username = form.Username.value;
        const Email = form.Email.value;
        const phone = form.phone.value;
        const Password = form.Password.value;
        // generate opt for email
        let otp = ''
        const generateOtp = ()=>{
            var digits = "1234567890"
            for (let i = 0; i < 4; i++){
            otp +=digits[Math.floor(Math.random()*10)]
            }
        }
        await generateOtp()
        await sendOtp(otp,Email)
        await checkOtp(otp,Username,Email,phone,Password)
        })

        const sendOtp = async (otp,Email)=>{
        const signUpMessage =` You tried to register this email on BigBern Your OTP is ${otp} `
                var prams ={
                name:`BigBERN`,
                email:Email,
                message:signUpMessage,
                cc:'',
                subject:'Email Verification',
                bcc:'',
                from:'no-relpy@BigBern.com' };
                const serviceID = "service_w89fyjf";
                const templatID = "template_vbt9jbt";
                
                document.getElementById('check').innerText= `Sending Email to ${Email}`;
                emailjs.send(serviceID,templatID,prams)
                .then(
                    res =>{
                        let logErrMsg = document.createElement('p');
                        if(res.text == "OK" || res.status == 200){
                            logErrMsg.innerText = `OTP sent to ${Email}`;
                            document.getElementById('status').appendChild(logErrMsg);
                        }
                    }
                ).then(()=>{
                    document.getElementById('check').innerText=`Provide OTP sent to your ${Email} `
                    OtpField.classList.remove('hidden');// When the otp is sent ,the input field is shown 
                })
                .catch(err =>  document.getElementById('status').innerText = err.text);
            };

            const checkOtp=(otp,Username,Email,phone,Password)=>{
                //check if entered otp matched with input field
             OtpField.addEventListener('change', async (e)=>{
                 if(e.target.value === otp){

                    try{
                    const res = await fetch('/register',{
                    method:'POST',
                    body:JSON.stringify({Username,Email,phone,Password}),
                    headers:{'Content-Type': 'application/json'}})
                    const data = await res.json()

                    //check for registered customer
                    if(data.Newcustomer){
                    let logMsg = document.createElement('p')
                    logMsg.innerText = 'Profile has been created..'
                    document.getElementById('status').appendChild(logMsg)
                    setTimeout(async () => {
                        await sendEmail( Email,Username )//notifier for email sent 
                    }, 1000)

                    setTimeout(() => {
                        let count = 0
                    const redirect = setInterval(() => {
                        count++
                        document.getElementById('check').innerText=`Redirecting in ${count} Seconds`
                            if (count === 8){
                                clearInterval(redirect)
                                form.reset();//clear form 
                                location.assign('/index') //recirect to product page
                            }
                        }, 1000);
                    }, 9000);
                }
                if(data.errors){
                modal.style.display = "none"
                emailError.textContent= data.errors.email
                passwordError.textContent = data.errors.password
                }
                }catch(err){
                    if(ReferenceError){
                let logErrMsg = document.createElement('p')
                logErrMsg.innerText = `Please check your internet Connection`
                    document.getElementById('status').appendChild(logErrMsg)
                        }
                // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                        }
                        }
                    }
                }
            })
            }
            
            // //send mail function
            // const sendEmail = async (Email,Username)=>{
            // const signUpMessage =`Hello ${Username} your account has been succesfully created.We hope you enjoy shoping with us...Cheers `
            //     var prams ={
            //     name:`BigBERN`,
            //     email:Email,
            //     message:signUpMessage,
            //     cc:'',
            //     subject:'Sign Up notification',
            //     bcc:'',
            //     from:'no-relpy@BigBern.com' };
            //     const serviceID = "service_w89fyjf";
            //     const templatID = "template_vbt9jbt";
                
            //     document.getElementById('check').innerText= `Sending Email to ${Email}`;
                
            //     emailjs.send(serviceID,templatID,prams)
            //     .then(
            //         res =>{
            //             let logErrMsg = document.createElement('p');
            //             if(res.text == "OK" || res.status == 200){
            //                 logErrMsg.innerText = `Email sent to ${Email}`;
            //                 document.getElementById('status').appendChild(logErrMsg);
            //             }
            //         }
            //     ).then(()=>{
            //         document.getElementById('check').innerText=`Taadaa...!!! All done.`
            //         // modal.style.display = "none";// When the user is created ,the modal is removed 
            //     })
            //     .catch(err =>  document.getElementById('status').innerText = err);
            // };
  //heck if email is a real email address
  let verifyEmail = document.getElementById('Email')
  verifyEmail.addEventListener('change',(e)=>{
    // auth(e.target.value)
  })

  //check password 
  const specialCharacter = ['!','@','#','$','%','^','&','*','(',')','+','_','-','~','=','?','<','>','?','/','{','}','[',']',':',';'];
  let passwordCheck = document.getElementById('Password')
    passwordCheck.addEventListener('change',(e)=>{
    specialCharacter.includes(e.target.value) ? document.getElementById('passwordCHKch').classList.remove('hidden'): document.getElementById('passwordCHKch').classList.add('hidden');
    e.target.value.length > 5 ? document.getElementById('passwordCHKlen').classList.remove('hidden'):document.getElementById('passwordCHKlen').classList.add('hidden');
    })
</script>
  <script src="App.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>